# =========================
# Build & CMake
# =========================
build/
build_*/
cmake-build-*/
devel/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
catkin_generated/

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/
.vs/

# =========================
# Logs, temp, backups
# =========================
*.log
*.tmp
*.bak
*.res
*.7z
*~

# =========================
# Python
# =========================
__pycache__/
*.pyc
venv/

# =========================
# Test artifacts
# =========================
test/results/
test/tmp/
test/.catkin_workspace

# Ignore emulator data except selected example
test/emulator/scandata/*.*
!test/emulator/scandata/20260319_rms_1xxx_ascii_rms2_objects.pcapng.json

# =========================
# Tools (local installs / binaries)
# =========================
tools/*/venv/
tools/python_installer/
tools/wireshark_*/
tools/git_lfs/
tools/pandoc/

# =========================
# Generated / cache / misc
# =========================
html/
.#*

# =========================
# Optional (keep if needed)
# =========================
# Uncomment ONLY if these are not required as examples

# demo/scan.jpg
# demo/scan.csv
# demo/scan.jpg_tmp
picoscan_serialization.patch

test/docker/data_org.zip
test/docker/data
