<?xml version="1.0"?>
<launch>

  <!-- Launch sick_scan_emulator -->
  <!-- arg name="scandatafiles" default="$(find sick_scan_xd)/test/emulator/scandata/20220505_lms511_wireshark_issue49.pcapng.json"/ -->
  <arg name="scandatafiles" default="$(find sick_scan_xd)/test/emulator/scandata/20210301_lms511.pcapng_full.json,$(find sick_scan_xd)/test/emulator/scandata/20210302_lms511.pcapng_full.json"/>
  <arg name="scandatatypes" default="sSN LMDscandata ,sSN LIDinputstate ,sSN LIDoutputstate ,sSN LFErec "/>
  <rosparam command="load" file="$(find sick_scan_xd)/yaml/emulator.yaml" />
  <node name="sick_scan_emulator" pkg="sick_scan_xd" type="sick_scan_emulator" output="screen">
    <param name="scandatafiles" type="string" value="$(arg scandatafiles)"/>
    <param name="scandatatypes" type="string" value="$(arg scandatatypes)"/>
    <param name="scanner_type" type="string" value="sick_lms_5xx"/>
  </node>

</launch>

