<?xml version="1.0"?>
<launch>

  <!-- Launch sick_scan_emulator -->
  <!-- arg name="scandatafiles" default="$(find sick_scan_xd)/test/emulator/scandata/20211201_RMS_1xxx_start_up.pcapng.json"/ --> <!-- ascii communication mode -->
  <arg name="scandatafiles" default="$(find sick_scan_xd)/scandata/20220316-rms1000-binary.pcapng.json"/> <!-- binary communication mode -->
  <arg name="scandatatypes" default="sSN LMDscandata ,sSN LMDradardata "/>
  <rosparam command="load" file="$(find sick_scan_xd)/yaml/emulator.yaml" />
  <node name="sick_scan_emulator" pkg="sick_scan_xd" type="sick_scan_emulator" output="screen">
    <param name="scandatafiles" type="string" value="$(arg scandatafiles)"/>
    <param name="scandatatypes" type="string" value="$(arg scandatatypes)"/>
    <param name="scanner_type" type="string" value="sick_rms_1xxx"/>
  </node>

</launch>

